@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    justify-content: center;
    align-items: center;
}

.calculator-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0, 0.1);
}

input {
    width: 100%;
    background-color: rgba(238, 238, 238, 0.945);
    font-size: 2rem;
    text-align: right;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    border-style: none;
    border-width: initial;
    border-color: initial;
    border-image: initial ;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 15px;
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 8px;
}

button .clear {
    border: none;
}

button:hover {
    background-color: rgb(197, 197, 197);
}

.delete {
    background-color: rgb(252, 113, 113);
    color: white;
}

.delete:hover {
    background-color: rgb(250, 56, 56);
}

.clear {
    background-color: rgb(165, 253, 165);
}

.clear:hover {
    background-color: rgb(74, 252, 74);
}

.equal {
    background-color: rgb(230, 107, 230);
    color: white;
}

.equal:hover {
    background-color: rgb(255, 35, 255);
    color: white;
}